.pai{
    width: 100%;
    height: 50px;
    background-color: red;
}

.filho{
    width: 100%;
    height: 25px;
    background-color: green;
    animation: progress 3s linear;
}
@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}